<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gamer Argento blog</title>
    
    <!-- favicon -->
    <link rel=icon href="{% static 'img/favicon.png' %}" sizes="20x20" type="image/png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- header start -->
    <div class="navbar-area">
        <!-- topbar end-->
        <div class="topbar-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-5 mt-2 mt-md-0 text-md-right text-center">
                        <div class="topbar-social">
                            <div class="topbar-date d-none d-lg-inline-block"><i class="fa fa-calendar">{% now "d/m/Y" %}</i></div>
                            <ul class="social-area social-area-2">
                                <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- topbar end-->

        <!-- adbar end-->
        <div class="adbar-area bg-black d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 align-self-center">
                        <div class="logo text-md-left text-center">
                            <a class="main-logo" href="index.html"><img src="{% static 'img/logo.png'%}" alt="img"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- adbar end-->

        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg">
            <div class="container nav-container">
                <div class="nnav-right-part nav-right-part">
                    <div class="menu-search-inner">
                        <input type="text" placeholder="Buscar">
                        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
                    </div>                   
                </div>                              
                <div class="collapse navbar-collapse" id="nextpage_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="current-menu-item">
                            <a href=""></a>
                        </li>                          
                        <li class="current-menu-item">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>                        
                        <li>
                            <a href="#playstation">PlayStation</a>
                        </li>
                        <li>
                            <a href="#xbox">Xbox</a>
                        </li>
                        <li>
                            <a href="#nintendo">Nintendo</a>
                        </li>
                        <li>
                            <a href="#PC">PC</a>
                        </li>
                        <li>
                            <a href="#Android">Android</a>
                        </li>

                        {% if user.is_authenticated %}
                            <li><a href="#">Nueva noticia</a></li>
                        {% endif %}  

                        <!-- <li class="current-menu-item">
                            <a href="#grid">Acerca de mi</a>
                        </li>  -->
                        <li class="current-menu-item">
                            <a href="#grid">Contacto / Mensajes</a>
                        </li>   
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <li class="btn btn_primary"><a href="#">Nueva noticia</a></li>
                    <li class="current-menu-item"><a href="#">Perfil</a></li>
                    <a class="btn btn-warning" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" method="post" action="{% url 'desloguearse' %}" style="display: none;">
                        {% csrf_token %}
                    </form>                    
                {% else %}
                    <a class="btn btn-warning" href="{% url 'loguearse' %}">Iniciar sesión</a>
                    <a class="btn btn-warning" href="{% url 'registrarse' %}">Registrarse</a>
                {% endif %}     
            </div>
            
        </nav>
    </div>
    <!-- navbar end -->


    <!-- banner area start -->
    <div class="banner-area banner-inner-1 bg-black" id="banner">
        <!-- banner area start -->
        <div class="banner-inner pt-1">
            {% if user.is_authenticated %}
            <p style="padding-top: 10px; padding-right: 15px; text-transform: uppercase;font-weight: bold;text-align: right; font-size: large; color:rgb(255, 255, 255)"> {{user.first_name}} {{user.last_name}}</p>
            {% endif %}    
        </div>

                                
        <!-- banner area end -->
    </div>

    {% block titulo %}
    <h2 class="section-title.style-white title" style="text-align: center;">Ultimas Noticias</h2>                                
    {% endblock titulo %}
    <!-- banner area end -->

    <div class="post-area pd-top-75 pd-bottom-50" id="trending">
        <div class="container">
        </div>
    </div>
        <div class="container">
            <div class="row">

            {% block contenido %}
                
            {% endblock contenido %}

            </div>
        </div>  
    <div class="bg-sky pd-top-80 pd-bottom-50" id="latest">

    </div>

    <div class="footer-area bg-black pd-top-95">
        <div class="container">
            <div class="footer-bottom text-center">
                <ul class="widget_nav_menu">
                    <li><a href="{% url 'acerca_de_mi' %}">Acerca de mi</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <p>Copyright © 2025</p>
            </div>
        </div>
    </div>

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- all plugins here -->
    <script src="{% static 'js/vendor.js' %}"></script>
    <!-- main js  -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>